
<table class ="noBorder">
    <%= form_for @topic do |f|%>

          <tr><td class ="noBorder">Title: </td><td class ="noBorder"><%= f.text_field :title%></td></tr>
          <tr><td class ="noBorder">Description:</td><td class ="noBorder"> <%= f.text_field :description%></td></tr>
          <tr><td class ="noBorder">Date Of Lecture: </td><td class ="noBorder"><%= f.text_field :date_of_event, data:{provide: 'datepicker'}%></td></tr>
          <tr><td class ="noBorder">Forum: </td><td class ="noBorder"><%= f.text_field :forum%></td></tr>
          <tr><td class ="noBorder">Forum rating: </td><td class ="noBorder"><%= f.text_field :ratings%></td></tr>
          <tr><td class ="noBorder"></td><td class ="noBorder"><%= f.submit %></td></tr>

    <%end%>
</table>
