<%#binding.pry%>

 <% if @user.checkallfields? %>
    <%if @topics.length >= 1%>

      <p><h1>All Topics by <%= @user.name%></h1>
       <ul>
         <% c=0 %>
          <% @topics.each do |topic|%>
            <br>
            <% forum = Forum.find_by(topic_id: topic.id)%>
            <li>
            <%= topic.id %>-<strong><%= topic.title%></strong>
              <p>
              <%= topic.description%>
              <br>Delivered on :<%= topic.date_of_event if topic.date_of_event%>
              <br>Forum: <b><%= topic.forum.capitalize%></b>
                (<%= Forumtopic.find_by(topic_id: topic.id).ratings%> star rating)

                              <!-- if user is same as current user it will provide Delete and Edit option -->
                <% if @user == current_user%>
               <div style="float:left"><%= button_to "Delete",topic_path(topic),method: :delete%>
               </div>
               <div style="float:left"><%= button_to "Edit ", edit_topic_path(topic),method: :get%>
               </div>
               <% end %>
               <br>
          </li>
                <% end %>

    <%else%>

          <h4>No topics have been discussed by you so for to add one please click the link below!</h4>

    <%end%>

<% else %>


   Its highly recomended for a future speaker to create a profile!</b>

   <%= button_to "Create A Profile", edit_user_path(@user),method: :get%>
         <%= button_to "Home",users_path,method: :get%>

  <% end %>
