<%#binding.pry%>
 <% if @user.checkallfields? %>
    <%if @topics.length >= 1%>

      <p><h1>All Topics by <%= current_user.name%></h1>
       <ul>
          <% @topics.each do |topic|%>
            <br>
          <li>
              <%= topic.title%>
              <p>
              <%= topic.description%>
              <br>Delivered on :<%= topic.date_of_event.strftime("%B %d, %Y") if topic.date_of_event%>
              <p>
               <div style="float:left"><%= button_to "Delete",topic_path(topic),method: :delete%>
               </div>
               <div style="float:left"><%= button_to "Edit ", edit_topic_path(topic),method: :get%>
               </div>
               <br>
          </li>
                <% end %>

    <%else%>

          <h4>No topics have been discussed by you so for to add one please click the link below!</h4>

    <%end%>

<% else %>


   Its highly recomended for a future speaker to create a profile!</b>

   <%= button_to "Create A Profile", edit_user_path(@user),method: :get%>
         <%= button_to "Home",users_path,method: :get%>

  <% end %>
