
<div class="jumbotron">
 <% if current_user.checkallfields? %>
    <%if @topics.length >= 1%>

      <p><h1>All Topics by <%= @user.name%></h1>
       <ul>
         <% c=0 %>
          <% @topics.each do |topic|%>
            <br>
            <% forum = Forum.find_by(topic_id: topic.id)%>
            <li>
            <%= topic.id %>-<strong><%= topic.title%></strong>
              <p>
              <%= topic.description%>
              <br>Delivered on :<%= topic.date_of_event if topic.date_of_event%>
              <br>Forum: <b><%= topic.forum.capitalize%></b>
                (<%#= Forumtopic.find_by(topic_id: topic.id).ratings%> star rating)

                              <!-- if user is same as current user it will provide Delete and Edit option -->
                <% if @user == current_user%>
               <div style="float:left"><%= button_to "Delete",topic_path(topic),method: :delete%>
               </div>
               <div style="float:left"><%= button_to "Edit ", edit_topic_path(topic),method: :get%>
               </div>
               <% end %>
               <br>
          </li>
                <% end %>

    <%else%>

          <h4>No topics have been discussed by you so for to add one please click the link below!</h4>

    <%end%>

<% else %>


   Its highly recomended for a future speaker to create a profile!</b>

   <%= button_to "Create A Profile", edit_user_path(@user),method: :get%>
         <%= button_to "Home",users_path,method: :get%>

  <% end %>
</div>
  <div id="topicsdiv" class="jumbotron">
    <h4>You Can add a new topic for the upcoming Date in the form below!</h4>
  <table class ="noBorder">

      <%= form_tag topics_path,id: 'topicForm' do %>
  <%#= form_tag controller: "topic",action: "topicCreate", method: "post" do %>
            <tr><td class ="noBorder">Title: </td><td class ="noBorder" id="title"><%= text_field_tag :title%></td></tr>
            <tr><td class ="noBorder">Description:</td><td class ="noBorder" id="description"> <%= text_area_tag :description%></td></tr>
            <tr><td class ="noBorder">Date Of Lecture: </td><td class ="noBorder" ><%=text_field_tag :date_of_event ,nil,placeholder: "MM/DD/YY"%></td></tr>
            <tr><td class ="noBorder">Forum: </td><td class ="noBorder"><%= text_field_tag :forum%></td></tr>
            <tr><td class ="noBorder">How do you rate this Forum(1-5): </td><td class ="noBorder"><%= text_field_tag :forum_rating, nil,placeholder: "Plese Rate"%></td></tr>
            <tr><td class ="noBorder"></td><td class ="noBorder"><%= submit_tag "Add Topic",data:{disable_with: false}%></td></tr>

      <%end%>
  </table>

  <div id="messageDiv" ></div>

</div>
