
<div class="jumbotron">
  <div class="container">
<% if @topic %>
<div id="topic_display">
        <h3>Topic : <%= @topic.title  %></h3>
          <div id="topic_data">
             <%= @topic.description%>
                  <br>
                  <b>  <li>Date: </b> <%= @topic.date_of_event%><br>
                   <% speaker = User.find(@topic.user_id)%>
                  <b> Speaker  :</b><%= link_to speaker.name,user_path(speaker)%>

              <% if @topic.user == current_user %>
                 <%= button_to "Edit",edit_topic_path,method: :get%>
                 <%= button_to "Delete",topic_path(@topic),method: :delete%>
              <% else %>
                 <%= button_to "Home", root_path,method: :get%>
              <% end %>
          </div>
              <form>
                <input type=hidden  id ="hidden_id" value="<%=@topic.id%>">
              </form>
            </div>
<button id="previous">Previous</button>

<button id="next">Next</button>

<% else %>

        Sorry, topic id doesn't match our Record
<% end %>
</div>
</div>
