
    <table class ="noBorder">

      <% if @user &&  @user.checkallfields? %>

      <h3> <%= @user.name.capitalize%></h3>

       <% category = Category.find(@user.category_id) if @user.category_id != nil %>

         <tr><td class ="noBorder">Education:</td><td class ="noBorder"> <%= @user.education if @user.education%></td></tr>

         <tr><td class ="noBorder">Biography: </td><td class ="noBorder"><%= @user.biography if @user.biography%></td></tr>

         <tr><td class ="noBorder">Web site: </td><td class ="noBorder"><%=link_to @user.website,"http://#{@user.website}"%></td></tr>

      <% if category  != nil%>
         <tr><td class ="noBorder">Speaker Category:&nbsp;&nbsp; </td><td class ="noBorde@use."><%= category.title if category%><b></b></td></tr>
             <tr><td class ="noBorder"> Category Description:&nbsp;&nbsp; </td><td class ="noBorde@use."><%= category.description if category%><b></b></td></tr>
                      <tr><td class ="noBorder">Prime Category:&nbsp;&nbsp; </td><td class ="noBorde@use."><%= category.prime_category if category%><b></b></td></tr>
              <% else %>
              <%= button_to "Add Category",new_category_path %>
              <% end %>
         <br>
         <tr>

           <% if user_signed_in? && @user.id == current_user.id %>
              <%= link_to "New Topic",new_user_topic_path(@user)%>  <!-- this link is using nested routes-->
           <td class ="noBorder"><%=button_to "All Lectures", users_path,method: :get%></td>

           <td class ="noBorder"><%= button_to "Sign Out",destroy_user_session_path, method: :delete%></td>
            <% end %>

      <% else %>
         Its highly recomended for a future speaker to create a profile!</b>

        <tr> <td  class ="noBorder"></td><td class ="noBorder"> <%= button_to "Create A Profile", edit_user_path,method: :get%></td>
             <td class ="noBorder">   <%= button_to "Home",user_path,method: :get%></td>
            <td class ="noBorder"></td>
        </tr>
      <% end%>
      </table>
